@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

/* Ant Design Overrides */
.custom-sidebar-menu.ant-menu-light .ant-menu-item-selected {
    background-color: white !important;
    color: #5B5CE2 !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-weight: 500;
}

.custom-settings-menu.ant-menu-light .ant-menu-item-selected {
    background-color: #EEF0FF !important;
    color: #5B5CE2 !important;
    font-weight: 500;
}

.ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected) {
    background-color: #f9fafb !important;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
}